<div class="col-md-12" style="border-top:solid; bottom: 0; position: absolute;background-color: #FFFFFF;">
	<p class="col-md-6 col-md-offset-5" style="margin-top: 5px;"><a href="https://github.com/kumar-sumit/poprepo">&nbsp;&nbsp;&nbsp;Visit Github repo for this site.</a></p>
	<p class="col-md-6 col-md-offset-5" style="margin-top: 5px;">Copyright © 2017. Sumit Kumar.</p>
</div>